<?xml version="1.0" encoding="UTF~8"?>
<!DOCTYPE plist PUBLIC "~//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList~1.0.dtd">
<plist version="1.0">
<array>
	<dict>
	<key>default</key>
	<false/>
	<key>label</key>
	<string>24hr</string>
	<key>name</key>
	<string>twentyfourhourOp</string>
	<key>type</key>
	<string>switch</string>
</dict>
	<dict>
		<key>default</key>
		<string>EN</string>
		<key>label</key>
		<string>Widget Language</string>
		<key>name</key>
		<string>widgetLanguageOp</string>
		<key>options</key>
		<dict>
			<key>EN</key>
			<string>en</string>
			<key>NL</key>
			<string>nl</string>
			<key>RU</key>
			<string>ru</string>
			<key>IT</key>
			<string>it</string>
			<key>SP</key>
			<string>sp</string>
			<key>DE</key>
			<string>de</string>
			<key>FR</key>
			<string>fr</string>
			<key>PL</key>
			<string>pl</string>
			<key>PT</key>
			<string>pt</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Black</string>
		<key>label</key>
		<string>Text Color</string>
		<key>name</key>
		<string>textColorOp</string>
		<key>options</key>
		<dict>
			<key>White</key>
			<string>White</string>
			<key>Light Gray</key>
			<string>LightGray</string>
			<key>Gray</key>
			<string>Gray</string>
			<key>Dark Gray</key>
			<string>DarkGray</string>
			<key>Black</key>
			<string>Black</string>
			<key>Red</key>
			<string>Red</string>
			<key>Green</key>
			<string>Green</string>
			<key>Blue</key>
			<string>Blue</string>
			<key>Yellow</key>
			<string>Yellow</string>
			<key>Orange</key>
			<string>Orange</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Light</string>
		<key>label</key>
		<string>Widget Color</string>
		<key>name</key>
		<string>rgbOp</string>
		<key>options</key>
		<dict>
			<key>Dark</key>
			<string>0</string>
			<key>Light</key>
			<string>255</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>100%</string>
		<key>label</key>
		<string>Widget Opacity</string>
		<key>name</key>
		<string>widgetOpacityOp</string>
		<key>options</key>
		<dict>
			<key>10%</key>
			<string>.1</string>
			<key>20%</key>
			<string>.2</string>
			<key>30%</key>
			<string>.3</string>
			<key>40%</key>
			<string>.4</string>
			<key>50%</key>
			<string>.5</string>
			<key>60%</key>
			<string>.6</string>
			<key>70%</key>
			<string>.7</string>
			<key>80%</key>
			<string>.8</string>
			<key>90%</key>
			<string>.9</string>
			<key>100%</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Weather</string>
		<key>label</key>
		<string>Ring One</string>
		<key>name</key>
		<string>ringOneOp</string>
		<key>options</key>
		<dict>
			<key>Weather</key>
			<string>weather</string>
			<key>Stats</key>
			<string>stats</string>
			<key>Day Temps</key>
			<string>dayTemps</string>
			<key>Music</key>
			<string>music</string>
			<key>None</key>
			<string>none</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Stats</string>
		<key>label</key>
		<string>Ring Two</string>
		<key>name</key>
		<string>ringTwoOp</string>
		<key>options</key>
		<dict>
			<key>Weather</key>
			<string>weather</string>
			<key>Stats</key>
			<string>stats</string>
			<key>Day Temps</key>
			<string>dayTemps</string>
			<key>Music</key>
			<string>music</string>
			<key>None</key>
			<string>none</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Day Temps</string>
		<key>label</key>
		<string>Ring Three</string>
		<key>name</key>
		<string>ringThreeOp</string>
		<key>options</key>
		<dict>
			<key>Weather</key>
			<string>weather</string>
			<key>Stats</key>
			<string>stats</string>
			<key>Day Temps</key>
			<string>dayTemps</string>
			<key>Music</key>
			<string>music</string>
			<key>None</key>
			<string>none</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>Music</string>
		<key>label</key>
		<string>Ring Four</string>
		<key>name</key>
		<string>ringFourOp</string>
		<key>options</key>
		<dict>
			<key>Weather</key>
			<string>weather</string>
			<key>Stats</key>
			<string>stats</string>
			<key>Day Temps</key>
			<string>dayTemps</string>
			<key>Music</key>
			<string>music</string>
			<key>None</key>
			<string>none</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>01s</string>
		<key>label</key>
		<string>Stats Refresh Rate</string>
		<key>name</key>
		<string>statsUpdateTimeOp</string>
		<key>options</key>
		<dict>
			<key>01s</key>
			<string>1000</string>
			<key>05s</key>
			<string>5000</string>
			<key>10s</key>
			<string>10000</string>
			<key>30s</key>
			<string>30000</string>
			<key>60s</key>
			<string>60000</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
	<dict>
		<key>default</key>
		<string>15</string>
		<key>label</key>
		<string>Weather Refresh (Minutes)</string>
		<key>name</key>
		<string>wxRefreshOp</string>
		<key>options</key>
		<dict>
			<key>10</key>
			<string>10</string>
			<key>15</key>
			<string>15</string>
			<key>20</key>
			<string>20</string>
			<key>30</key>
			<string>30</string>
			<key>60</key>
			<string>60</string>
			<key>120</key>
			<string>120</string>
		</dict>
		<key>type</key>
		<string>select</string>
	</dict>
</array>
</plist>
